@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  color: #d9d9d9;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/*navbar*/
nav{
  background: #00e6cb;
  height: 60px;
  width: 100%;
  z-index: 2;
  position: relative;
  margin-bottom: 0;
  transition: all 0.3s ease;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 80px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 15px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 5px 10px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: black;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 50%;
    height: 50vh;
    background: black;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #black;
  }
  #check:checked ~ ul{
    left: 0;
  }
}

 /* end of navbar section  */

/******* hero section*/
.hero {
  background: var(--hero-bg-color);
  position: relative;
}

.hero-container {
  padding: 5.5rem 1.5rem 0 1.5rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-size: 5rem;
  color: black;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4rem;
  line-height: 5rem;
  letter-spacing: -0.3rem;
}

.hero-button {
  padding: 2rem 6rem;
  border: none;
  border-radius: 3rem;
  color: #00e6cb;
  background: black;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  outline: none;
  cursor: pointer;
  transition: all 0.4s ease;
  margin-bottom: 3rem;
}

.hero-button:hover {
  background: var(--green1);
}

.terms {
  display: flex;
  margin-bottom: 2rem;
}

.hero-terms-link,
.hero-terms-link + span,
.terms > span {
  font-size: 1.2rem;
  color: var(--hero-terms-link);
}

.hero-terms-link,
.terms > span {
  margin-right: 0.2rem;
}

.hero-terms-link {
  text-decoration: underline;
  transition: all 0.6s ease;
}

.hero-terms-link:hover {
  color: var(--white);
}


/********end of hero*/


 /*footer*/
footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #111;
}
.main-content{
  display: flex;
  color: #00e6cb;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #00e6cb;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #00e6cb;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #00e6cb;
}
.center .content .fa{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fa:hover{
  background: #00e6cb;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #00e6cb;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 150%;
  border: none;
  outline: none;
  background: #00e6cb;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #000;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}
 /* end of footer section  */
