<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <span class="fs-4">Chat</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/" class="nav-link active">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link">About</a></li>
    </ul>
    <div class="col-md-3 text-end">
       {% if current_user.is_authenticated %}
      <li style="color:white;padding:15px;">{{current_user.username}}</li>
      <button type="button" class="btn btn-outline-primary me-2"><a href="{{url_for('auth.logout')}}">Logout</a></button>
      {% else %}
      <button type="button" class="btn btn-outline-primary me-2"><a href="{{url_for('auth.login')}}">Login</a></button> 
      <button type="button" class="btn btn-primary"><a href="{{url_for('auth.register')}}">Sign Up</a></button>
      {% endif %}
    </div>
  </header>
</div>
