<nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fa fa-bars"></i>
      </label>
      <label class="logo">Chat</label>
      <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="{{url_for('main.add_playlist')}}">Create playlist</a></li>
        <li><a href="{{url_for('main.disp_playlist')}}">All playlists</a></li>
        <li><a href="#">Contact</a></li>

          {% if current_user.is_authenticated %}
          <li><a href="{{url_for('main.profile',uname=current_user.username)}}"><i class="fa fa-user"></i>&nbsp; My account</a></li>
          <li><a href="{{ url_for('auth.logout') }}"><i class="fa fa-sign-out-alt"></i>&nbsp;log out</a></li>

           {% else %}
          <li><a href="{{url_for('auth.register')}}"><i class="fa fa-user-plus"></i></i>&nbsp; <strong>Sign Up</strong></a></li>
          <li><a href="{{url_for('auth.login')}}"><i class="fa fa-sign-in-alt"></i></i>&nbsp; <strong>Log In</strong></a></li>
          {% endif %}
      </ul>

    </nav>